
//@theme "/usr/share/rofi/themes/fancy.rasi"

//@theme "/usr/share/rofi/themes/arthur.rasi"

//@theme "/home/william/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/william/.local/share/rofi/themes/rounded-pink-dark.rasi"

@theme "/home/william/.local/share/rofi/themes/squared-pink.rasi"
